<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BMSTU tube
      <img src="/assets/draft.png" style="width:64px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="form-inline mt-2 mt-md-0 ml-auto mr-auto" style="color: #212121; font-size:20px">
        Give your tube a new life
      </span>
    </div>
  </div>
</nav>

<main role="main" class="flex-shrink-0" >
  <div class="container">
    <div class="row">
      <div class="col-9" style='position: absolute; left: 80px;'>
        <h2 class='title inline' colspan='2' style='margin-top: 20px;'>Log in</h2>
        <table>
          <tbody>
          <tr>
            <td>Login</td>
            <td>
              <input type='text' maxlength="50" class='inline text_edit'/>
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <input type='password' maxlength="30" class='inline text_edit'/>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input class='add-answer-button' type="submit" value="Log in!" />
            </td>
          </tr>
          </tbody>
        </table>
        <div style="margin-top: 16px;">
          <%= link_to 'New here?', new_user_path %>
        </div>

      </div>
      <div class="col-3 tags" style='position: absolute; right: 0;'>
<!--        hello-->
      </div>
    </div>
  </div>
</main>